.error-content {
    width : 100vw;
    height : 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-content img {
    height : 100%;
    width : 100%;
    object-fit: contain;
}