nav {
    width: 100vw;
    height: 20vh;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 20rem 0rem 20rem;
}

.logo {
    color: #051367;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
}

.logo a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;

}

.logo span {
    color: #5D8BF4;
}

.links {
    /* background-color: blue; */
    display: flex;
    width: 40%;
    align-items: center;
    justify-content:space-between;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
}
.link a {
    list-style: none;
    text-decoration: none;
    color: #000;
}

.link a:hover {
    color: #5D8BF4;
}