.song-container {
    height: 12rem;
    width : 10rem;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.song-container:hover {
    height: 12.5rem;
    width : 10.5rem;
    cursor :pointer;
}

.song-container img {
    height: 10rem;
    width : 10rem;
    border-radius: 1rem;
    object-fit : cover;
    position: absolute;
    z-index : 1;
 
}

.play-button-container {
    height:2.5rem;
    width: 2.5rem;
    background-color: #5D8BF4;
    border-radius: 50%;
    position: absolute;
    bottom: 0%;
    right: 10%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-button {
    color: #fff;
}